{% extends "comps/base.html" %}
{% load my1_filters_and_tags %}
{% block title %}Добавить бизнес-идею{% endblock title %}

{% block main %}
{% if error %}
    <div>{{ error }}</div>
{% endif %}
<form action="{% url 'busid_create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 align="center" class="crt">Заполните все поля* </h1>
    <div class="">
        <table style="width:100%">
          <tr>
            <td style="width:50%"><label class="jobIn" for="title">Заголовок:</label></td>
          </tr>
          <tr>
            <td><input name="title" type="text" class="jobInput" id="title" placeholder="..." minlength="5" maxlength="200" required></td>
          </tr>

          <tr>
            <td><label for="description" class="jobIn">Описание:</label></td>
          </tr>
          <tr>
            <td><textarea id="description" name="descr" class="txtArea" rows="5" minlength="5" maxlength="5000" required placeholder="..."></textarea></td>
          </tr>

          <tr>
            <td><label for="file" class="jobIn" style="margin-top:10px;">Прикрепите файл:</label></td>
          </tr>
          <tr>
            <td><input name="file" type="file" class="fileInput"  id="file" placeholder="..." required></td>
          </tr>

          <tr>
            <td><label for="image" class="jobIn" style="margin-top:10px;">Добавьте Фото:</label></td>
          </tr>
          <tr>
            <td><input name="image" type="file" class="fileInput" accept=".jpg, .png"  id="image" placeholder="..." required></td>
          </tr>
        </table>
        <button class="crtBtn" type="submit">ДОБАВИТЬ</button>
    </div>
    </form>

{% endblock main %}